//
@import '_index';
@import '_show';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 80%;
}

h1 {
    margin-bottom: 20px;
}
